
* {
    text-align: center;

    margin: 16px auto;
}

html {
    font-family: Arial, Helvetica, sans-serif;

    min-width: 100%;
    min-height: 100%;
}

header {
    width: 75%;

    background: #557799;
    border: 1px dashed #000256;

    padding: 16px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
    background: #bbddff;
}

div {
    width: 75%;
    min-height: 32px;

    text-align: left;

    border: 1px dashed #000256;

    padding: 2px 16px;
}

#wrapper {
    background: #88aacc;

    margin: auto;
}

input {
    width: 32%;
    height: 32px;
}

label {
    font-weight: bold;
}

table {
    width: 96%;

    font-size: 1vw;

    margin: auto;
}

#defaultTable {
    padding: 64px 16px;
}

#sendForm {
    width: 16%;
}

#sendForm:hover {
    cursor: pointer;
    background-color: #6688aa;
}

#submitButton {
    text-align: center;
}

th {
    width: 20%;
    height: 48px;

    background: #6688aa;

    border-bottom: 2px dotted #002244;
    border-left: 1px solid #002244;
}

tr, td {
    margin: auto;
    height: 32px;

    border-bottom: 2px dotted #002244;
    border-left: 1px solid #002244;
}

td {
    font-size: 12px;
}