
* {
    text-align: center;
}

html {
    min-width: 100%;
    text-align: center;
}

header {
    /* width: 912px; */
    /* height: 128px; */
    background: #000032;
    /* text-align: center; */
    line-height: 128px;
}

#wrapper {
    /* width: 912px; */
    /* text-align: center; */
    /* margin: auto; */
    background: red;
}

body {
    /* text-align: center; */
    /* margin: auto; */
    background: #0055dd;
}